<div class="container-fluid">
    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1><b>CODER - Sistema de productos</b></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-12 m-3">
            <ul>
                {{#each products}}
                <li>ID {{this.id}}, {{this.description}} (${{this.price}}) ({{this.stock}})</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
// Conectamos al servidor socket.io.
    const socket = io('ws://localhost:3050');
    // const socket = io(`${location.host}:3050`);


 socket.on('connect', () => { // Escuchamos el evento connect para detectar cuándo logramos conectar al servidor
        // Escuchamos por el evento server_confirm desde el servidor
        socket.on('server_confirm', (data) => {
            console.log(data);
        });

        socket.on('msg_received', (data) => {
            messagesLog.innerHTML = `${messagesLog.innerHTML}<br>(${data.user}) ${data.msg}`;
        });
    })

</script>